.table__cell {
    display: flex;
    flex-basis: inherit;
    /* align-items: flex-start;*/
    justify-content: stretch;
    align-self: flex-start;
    flex-direction: column;
    /* flex-grow: 1;*/
    width: 250px;


}