.kaufman__triangle {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    right: -210px;
    height: 0px;
    width: 0px;
    border-right: 438.5px solid transparent;
    border-left: 438.5px solid transparent;
    border-bottom: 877px solid #2f80ed;
    transform: translate(210px, 0px);
    z-index: 1;
    animation-name: rotation;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}